<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/ng_show_hide.js"></script>
    <link href="styles/table.css" rel="stylesheet" />
</head>
<body ng-controller="myController">
    <input type="checkbox" ng-model="hideSalary" /> Hide Salary
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Gender           </th>
                <th ng-hide="hideSalary">Salary           </th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="employee in employee ">


                <td>{{ employee.name  }}</td>
                <td>{{ employee.dateofbirth  }}</td>
                <td>{{ employee.gender }}</td>
                <td ng-hide="hideSalary">{{ employee.salary }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>